// global

.section
    display: flex
    align-items: center
    justify-content: space-between
    height: 100vH

// division custom styles
.header
    height: 17vH
    display: flex
    align-items: center
    justify-content: space-between
    background-color: white
    margin: auto
    padding: 0
    background-color: grey
    h3
        padding: 0 
        margin: 0 
    nav
        display: flex
        justify-content: space-between
        a
            text-decoration: none
            color: #999999
            font-weight: bold
            padding: 15px
            transition: 0.3s
            &:hover
                color: black
                background: #F2F2F2
                border-radius: 15px


.hero
    background-color: #7EE0C1
    height: 83vH

.our-service
    background-color: #EDEFA3
    display: flex
    justify-content: space-around
    align-items: center
    padding-top: 5vH
    padding-bottom: 5vH
    height: 200vH
    @media (min-width: 550px)
        height: 100vH
    img 
        height: 100vH
        width: auto
        padding: 0
        margin: 0
        

.storage
    background-color: #FFE1FF

.guarantee
    background-color: #E5FFE3

.quotes
    background-color: salmon

.footer
    height: 20vH
    background: #FFD9B6
<<<<<<< HEAD
    display: flex
    align-items: center
    justify-content: center
    background-color: white
    margin: 0 auto
    padding: 0
    background-color: cyan
    a
        color: black
        text-decoration: none
    .footer-row
        max-width: 960px
        width: 100%
        display: flex
        flex: 1
        justify-content: center
        flex-wrap: wrap
        align-items: center
        flex-direction: column
        @media (min-width: 550px)
                width: 100%
                justify-content: space-between
                flex-direction: row
        .footer-social
            display: flex
            justify-content: space-between
            width: 50%
            @media (min-width: 550px)
                width: 25%
=======
    a
        color: black
        text-decoration: none
        padding-right: 15px
>>>>>>> parent of 59a92a5... fixed footer


// elements
.social-icons
    height: 25px
    width: auto 
    margin-left: 10%

// SVG
.cls-1
    display: inline-flex

.cls-1:hover
    fill: aqua

