// global

.section
    height: 100vH
    display: flex
    align-items: center
    justify-content: center

// section modules
nav
    background: salmon
    text-align: right
    position: relative
    a
        text-decoration: none
        color: white
        &:last-of-type
            margin-right: 10%

header 

// division custom styles
.hero
    background-color: #7EE0C1

.our-service
    background-color: #EDEFA3

.storage
    background-color: #FFE1FF

.guarantee
    background-color: #E5FFE3

.quotes
    background-color: salmon

.footer
    height: 20vH
    background: #FFD9B6
    display: flex
    align-items: center
    justify-content: center

// elements
.social-icons
    height: 25px
    width: auto 
    margin-left: 10%

// SVG
.cls-1
    display: inline-flex

.cls-1:hover
    fill: aqua

