// variables
$lightgrey: #f2f2f2
$orangey: #ad2d0d

// section colors $packing: #ffffff
$storage: #6acc99
$care: #fec9ff
$quote: #ffffff

// global    
.section
    display: flex
    align-items: center
    justify-content: space-between

// division custom styles
.header
    height: 17vH
    max-width: 100vW
    display: flex
    align-items: center
    justify-content: flex-start
    background-color: white
    @media (min-width: 750px)
        justify-content: space-between
    h3
        padding: 0 
        margin: 0 
        width: 100%
    nav
        display: none
        justify-content: space-between
        @media (min-width: 750px)
            display: flex
        a
            text-decoration: none
            color: #999999
            font-weight: bold
            padding: 5vH 1vW
            transition: 0.3s
            &:hover
                color: black
                background: #F2F2F2
                border-radius: 15px

.hero
    height: 83vH
    padding: 0
    background: $lightgrey
    margin: 0 auto

//global row class
.rower
    max-width: 960px
    width: 100%
    padding: 0 20px
    display: flex
    margin: 0 auto
    justify-content: space-between
    align-items: center
    height: 100%
    z-index: 4
    box-sizing: border-box
    @media (min-width: 400px) 
        width: 85%
        padding: 0
    .text
        max-width: 480px
        width: 100%
        position: relative
        z-index: 30
    img
        opacity: 0.2
        z-index: 20
        position: absolute
        width: auto
        height: auto
        left: 0
        max-height: 83vH
        @media (min-width: 750px)
            position: absolute
            left: 0
        @media (min-width: 1000px)
            opacity: 1
            position: relative
            left: 0
            height: 100%
        @media (min-width: 1200px)
            opacity: 1
            position: absolute
            left: 35%
            top: 25vH

.our-service
    background: #EDEFA3 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 0px
    min-height: 83vH
    img 
        max-height: 83vH
        width: 100%
        position: absolute
        left: 0
        @media (min-width: 750px)
            position: relative
            top: 0
            left: 0

.our-services
    height: 15vH
    background: $orangey
    color: white
    .rower
        align-items: center
        h2 
            padding: 0
            margin: 0
        
.storage
    background-color: $storage
    height: 100%
    padding: 5% 0

.guarantee
    background-color: $care
    height: auto
    padding: 50px 0px
    display: flex
    img
        order: 1

// form styling
.quotes
    background-color: #378EA9
    display: flex
    flex-direction: column
    padding: 10% 0px
    form
        padding: 0
        margin: 0 
        display: flex
        flex-direction: column
        width: 100%
    
    .form-row
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        align-items: flex-start
        flex-direction: column
        flex-wrap: wrap
        margin: 0 auto
        width: 85%
        padding: 0 20px
        margin-bottom: 30px
        > input[type]
            width: 100%
        > textarea 
            width: 100%
            resize: none
        > input[type="submit"]
            background: rgb(173, 45, 13)
            border: none
            color: white
            transition: 0.2s
            margin-bottom: 0%
            &:hover
                background: #c13411

    .legacy-form-row
        width: 85%
        > legend
            margin-bottom: 15px
        > input[type="radio"]
            float: left
            background: red
            margin-top: 2px
            float: left
            margin-bottom: 30px
        > label
            float: left
            display: block
            padding: 0 20px 0 10px
            
.footer
    height: 20vH
    background: #FFD9B6
    display: flex
    align-items: center
    justify-content: center
    background-color: white
    margin: 0 auto
    padding: 0
    background-color: grey
    a
        color: black
        text-decoration: none
    .footer-row
        max-width: 960px
        width: 100%
        display: flex
        flex: 1
        justify-content: center
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        flex-direction: column
        @media (min-width: 550px)
                width: 100%
                justify-content: space-between
                flex-direction: row
        .footer-social
            display: flex
            justify-content: space-between
            width: 50%
            @media (min-width: 550px)
                width: 25%

        .footer-links
            display: flex
            justify-content: space-between
            a 
                padding: 0px 15px

// elements
.social-icons
    height: 25px

#exampleEmailInput
    width: 460px

#yourName
    width: 460px

// SVG
.cls-1
    display: inline-flex

.cls-1:hover
    fill: aqua

